<nav id="lngmenu">
    Available translations:
    <ul>
        <li><b>English (official)</b></li>
        <li><a href="/psr/psr-0/es">Spanish</a></li>
        <li><a href="/psr/psr-0/fr">French</a></li>
        <li><a href="/psr/psr-0/it">Italian</a></li>
    </ul>
</nav>