<header>
    <div class="inner">
        <h1><a href="{{ path('voy_php_fig_psr_index') }}">www.php-fig.cn</a></h1>
        <h2>PHP Framework Interop Group</h2>
        <h2>PHP 框架互通特性组</h2>
        <a href="https://github.com/php-fig/fig-standards" class="button"><small>View Our </small>Github Page</a>
    </div>
</header>
<style type="text/css">
.zh {
    background-color: rgb(180,255,180);
}
</style>